<footer class="footer-container">
  <div class="social-links">
    <a href="#" target="_blank" rel="noopener noreferrer" title="GitHub">

      <img src="assets/github-circle.svg" alt="github"  class="highlight"/>
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer" title="LinkedIn">
      <img src="assets/linkedin.svg" alt="github" class="highlight" />
    </a>

    <a href="#" target="_blank" rel="noopener noreferrer" title="Instagram">
      <img src="assets/instagram.svg" alt="github" class="highlight" />
    </a>

    <a href="#" target="_blank" rel="noopener noreferrer" title="X">
      <img src="assets/x.svg" alt="github" class="highlight" />
    </a>

    </div>
  <p>&copy; 2025 Sumanta. All Rights Reserved.</p>
</footer>